<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Walle_Client_Data.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
      <Walle_Client_Data.My.MySettings>
        <setting name="CriptUser" serializeAs="String">
          <value>k1ElcLx79zu9PbsYaHTTmA==</value>
        </setting>
        <setting name="CriptPass" serializeAs="String">
          <value>g78RB48iJQweLl6LcCpscg==</value>
        </setting>
        <setting name="PathFtp" serializeAs="String">
          <value>hCBWnew/fV4EK0khXCThqkbcUsUx3DM3vT27GGh005g=</value>
        </setting>
        <setting name="KeyGetUser" serializeAs="String">
          <value>tWTlAEySXoI=</value>
        </setting>
        <setting name="Location" serializeAs="String">
          <value>C:\Fourkey\Walle\Walle_Client_Data.exe</value>
        </setting>
      </Walle_Client_Data.My.MySettings>
    </userSettings>
</configuration>